<template>
  <f7-page>
    <f7-navbar title="Card" back-link="Back"></f7-navbar>
    <f7-block strong>
      <img :src="employee.picture.large" id="photo" @click="onPressPhoto">
      <p>{{employee.name.title}}</p>
      <p>{{employee.name.first}}</p>
      <p>{{employee.name.last}}</p>
      <p>{{employee.email}}</p>
      <p>{{employee.phone}}</p>
      <f7-button @click="onPressCallTo">Call</f7-button>
      <f7-button @click="onPressSendSms">Send SMS</f7-button>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  data: function () {
    return {
      employee: this.$f7.data.employees[this.$f7route.params['index']],
    }
  },
  methods: {
    onPressPhoto: function () {
      const photoComponent = this.$$('#photo')
      if (photoComponent.hasClass('fitToWidth')) {
        photoComponent.removeClass('fitToWidth')
      } else {
        photoComponent.addClass('fitToWidth')
      }
    },
    onPressCallTo: function () {
      const employee = this.$f7.data.employees[this.$f7route.params['index']]
      this.$root.callTo(employee.phone)
    },
    onPressSendSms: function () {
      const employee = this.$f7.data.employees[this.$f7route.params['index']]
      this.$root.sendSms(employee.phone, 'sample text')
    },
  },
}
</script>
