<template>
  <f7-page>
    <f7-navbar>
      <f7-nav-title>DmeDemo</f7-nav-title>
    </f7-navbar>
    <f7-searchbar
      search-container="#employees-list"
      search-item="li"
      search-in=".item-title"
    ></f7-searchbar>
    <f7-list class="searchbar-not-found">
      <f7-list-item title="Nothing found"></f7-list-item>
    </f7-list>
    <f7-list
      id="employees-list"
      class="searchbar-found"
      virtual-list
      :virtual-list-params="{ items: items, height: 73, searchAll: searchByName, renderExternal: renderExternal }"
    >
      <ul>
        <f7-list-item
          v-for="(item, index) in vlData.items"
          media-item
          :key="index"
          :media="item.picture.thumbnail"
          :title="`${item.name.title} ${item.name.first} ${item.name.last}`"
          :link="`/card/${index}`"
          :style="`top: ${vlData.topPosition}px`"
        >
        </f7-list-item>
      </ul>
    </f7-list>
  </f7-page>
</template>
<script>
export default {
  data: function () {
    return {
      items: this.$f7.data.employees,
      vlData: {},
    }
  },
  methods: {
    searchByName: function (query, items) {
      let found = []
      const normQuery = query.toLowerCase().trim()
      for (let i = 0; i < items.length; i++) {
        if (items[i].name.first.toLowerCase().indexOf(normQuery) >= 0 || items[i].name.last.toLowerCase().indexOf(normQuery) >= 0 || normQuery === '')
          found.push(i)
      }
      return found
    },
    renderExternal(vl, vlData) {
      this.vlData = vlData
    },
  },
}
</script>
